<div class="container">
	<h1><%= image_tag "Logo 3.png", class: 'img-responsive', alt: 'INDEHID' %></h1>
	<p>Empresa multiservicio el cual su principal objetivo es satisfacer las necesidades explicitas de nuestros clientes, referente al area INMOBILIARIA</p>
	<p>Destacandonos en LOS MULTIPROCESOS, CORRETAJE DE BIENES E INMUEBLES HASTA LA EDIFICACION.</p>
	<p>INDEHID, es el portal mas completo de propiedades en CHILE; con gran variedad de Fundos, haciendas 
	</p>
	<p>Patrimonio desde el altiplano nortino hasta los campos de hielos australes, pasando por valles fertiles, costeros, precordilleranos y patagonico.</p>
</div>