.users_table {
	border: 10px;
	border-color: black;
}
.row {
	margin: 0px
}
.my-brand {
	margin-top: -13px
}
.main {
	margin-top: 60px
}
.my-nav {
	background-color: #ffffff
}
body {
	background-color: #fff;

}
p {
	color: #6699ff;
}
.with-a {
	color: #6699ff;
}